
.topHeader {
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: navy;
    width: 100%;
    padding: 5px 0px 5px 100px;
    font-size: 20px;
    display: -webkit-inline-box
}

.headerGreeting {
    font-style: italic;
    color: antiqueWhite;
    padding-left: 8em;
}

.headerLink {
    font-size: smaller;
    font-style: italic;
    color: antiqueWhite;
    padding-left: 1em;
}



.modify{
    font-family: Arial;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: chocolate;
    padding: 0.5em 1em 0.5em 1em;
}



.mainBox {
    padding: 2em 2em 2em 2em;
    margin: 1em 5em 2em 5em;
    background-color: whitesmoke;
    border-radius: 1em;
}

.inlineBox {
    display: -webkit-inline-box;
}


.boxHeader {
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
    color: navy;
    text-decoration: none;
    padding: 1.5em 0em 0em 0em;
}

.tabRight {
    margin-left: 5em;
}


.leftBox{
    padding-right: 6em;
}

.rightBox{
}


.smaller {
    font-size: smaller;
}


.category {
    font-family: Arial;
    color: crimson;
    text-decoration: none;
    padding: 5px 0px 5px 0px;
}

.item {
    font-family: Arial;
    color: darkred;
    text-decoration: none;
    padding: 5px 0px 5px 0px;
}

.itemName {
    font-family: Arial;
    color: darkred;
    padding: 5px 0px 5px 0px;
}

.itemCategory{
    font-family: Arial;
    color: grey;
    padding: 0em 1em 0em 0.5em;
    position: relative;
    display: inline;
}

.bodyColor {
    background-color: #CCCCCC;
}

.quietLink {
    font-size: smaller;
    font-weight: normal;
    text-decoration: none;
}

.inputLabel {
    font-family: Arial;
    font-size: smaller;
    color: crimson;
    text-decoration: none;
    padding: 0px;
}

.inputBox {
    width: 100%;
    padding: 0px;
}

.linkButton {
    font-family: Arial;
    font-size: smaller;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: chocolate;
    padding: 0;

    border: none;
    background-color: #CCCCCC;
    display: inline-flex;
}

.label5 {
    width: 5em;
}

.labelNewAcc {
    width: 12em;
}

.message {
    font-family: Arial;
    font-style: italic;
    font-size: larger;
    text-align: center;
    color: darkorchid;
    padding-top: 0.5em;
}


