<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='catalog.css') }}">
    </head>

    <body class="bodyColor">

        {% include 'banner.html' %}

        <h1 class="boxHeader tabRight">{{ item.name }}
                <a class="quietLink" href="{{ url_for('showItemsInCategory', category = category.name ) }}">({{ category.name }})</a>
        </h1>
        <div class="mainBox">
            <div class="inputLabel">Description:</div>
            <div class="inputBox">{{ item.description }}</div>
        </div>

        {% if session.email == item.ownerEmail %}
            <div class="tabRight">
                <a  class="linkButton"
                    href="{{url_for('editDescription', categoryName = category.name, itemName = item.name)}}"
                    >Edit "{{ item.name }}"</a>

                <form   id='deleteItem'
                        zclass="linkButton"
                        action="{{url_for('deleteItem', categoryName = category.name, itemName = item.name)}}"
                        method='post'>
                    <input type ='hidden' id='itemName' name='itemName' value='{{item.name}}'>
                    <input class="linkButton" type='submit' value='Delete "{{ item.name }}"'>
                </form>
            </div>
        {% endif %}

        <div class="tabRight">
            <a class="quietLink smaller" href="{{ url_for('showItemsInCategory', category = category.name ) }}">Back to {{ category.name }}</a>
        </div>
        <div class="tabRight">
            <a class="quietLink smaller" href="{{url_for('showCategories')}}">Back to Categories</a>
        </div>
    </body>
</html>