<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='catalog.css') }}">
    </head>

    <body class="bodyColor">

        {% include 'banner.html' %}

        <h1 class="boxHeader tabRight">Login</h1>
        <div class="mainBox">
            <h2>{{ message }}</h2>
            <form action="{{ url_for('emailLogin')}}" method = "post">
                <div>
                    <div class="inlineBox">
                        <div class="label5">Email</div>
                        <input type ="text" class="form-control" name="email" value="">
                    </div>
                </div>

                <div>
                    <div class="inlineBox">
                        <div class="label5">Password:</div>
                        <input type ="password" class="form-control" name="password" value="">
                    </div>
                </div>

                <div>
                    <input type="hidden" name="state" value="{{STATE}}">
                    <div class="padding-bottom"></div>
                    <button type="submit" class="btn btn-default" id="submit" type="submit" >Login</button>
                </div>

            </form>
            <form action ="{{ url_for('emailLoginNew') }}" method = "post">
                    <input type="hidden" name="state" value="{{STATE}}">
                    <button type="submit" class="btn btn-default" id="submit" type="submit">Create New Account</button>
            </form>
        </div>
        <div class="tabRight">
            <a class="quietLink smaller" href="{{url_for('showCategories')}}">Cancel</a>
        </div>
    </body>
</html>