<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='catalog.css') }}">
    </head>

    <body class="bodyColor" onload="document.getElementById('submit').disabled=true;">

        {% include 'banner.html' %}

        <h1 class="boxHeader tabRight">Create New Account</h1>

        <div class="mainBox">
            <h2>{{ message }}</h2>
            <form action="{{ url_for('new_user')}}" method = "post">

                    <input type="hidden" name="state" value="{{STATE}}">

                    <p id="message"></p>

                    <div class="inlineBox">
                        <div class="labelNewAcc">Enter Your Email Address:</div>
                        <input type ="text"
                               class="form-control"
                               name="email" id="email" value=""
                               onkeyup="enableSubmitIfPasswordsMatch();">
                    </div>

                    <div class="inlineBox">
                        <div class="labelNewAcc">Enter a User Name:</div>
                        <input type ="text"
                               class="form-control"
                               name="username" id="username" value=""
                               onkeyup="enableSubmitIfPasswordsMatch();">
                    </div>

                    <script>
                        function enableSubmitIfPasswordsMatch () {
                            var p1 = document.getElementById("password").value;
                            var p2 = document.getElementById("passwordVerify").value;
                            var em = document.getElementById("email").value;
                            var un = document.getElementById("username").value;
                            if (em == "") {
                                document.getElementById("message").innerHTML = "Specify an email address.";
                                document.getElementById("submit").disabled=true;
                                return;
                            }
                            if (em.indexOf("@") < 1 || em.indexOf(".") < 2) {
                                document.getElementById("message").innerHTML = "Invalid email address.";
                                document.getElementById("submit").disabled=true;
                                return;
                            }
                            if (un == ""){
                                document.getElementById("message").innerHTML = "Specify a user name.";
                                document.getElementById("submit").disabled=true;
                                return;
                            }
                            if (p1.length < 1) {
                               document.getElementById("message").innerHTML = "Specify password.";
                               document.getElementById("submit").disabled=true;
                               return;
                            }
                            if (p1 != p2){
                               document.getElementById("message").innerHTML = "Password Mismatch.";
                               document.getElementById("submit").disabled=true;
                               return;
                            }
                            document.getElementById("message").innerHTML = "Ready to create account.";
                            document.getElementById("submit").disabled=false;
                        }
                    </script>

                    <div class="inlineBox">
                        <div class="labelNewAcc">Specify a Password:</div>
                        <input  type ="password"
                                class="form-control"
                                name="password" id="password" value=""
                                onkeyup="enableSubmitIfPasswordsMatch();">
                    </div>

                    <div class="inlineBox">
                        <div class="labelNewAcc">Re-specify the Password:</div>
                        <input  type ="password"
                                class="form-control" name="passwordVerify" id="passwordVerify" value=""
                                onkeyup="enableSubmitIfPasswordsMatch();">
                    </div>

                    <div class="padding-bottom"></div>

                    <button type="submit" class="btn btn-default" id="submit" type="submit" >Create Account</button>
                </div>
            </form>
        </div>
        <div class="tabRight">
            <a class="quietLink smaller" href="{{url_for('showCategories')}}">Cancel</a>
        </div>
    </body>
</html>